root = true

[*]
charset = utf-8

# git config --global core.autocrlf input
end_of_line = lf

tab_width = 4
indent_size = tab
indent_style = space

trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.{ts,js,vue,css}]
tab_width = 2